$monitor-width: 210px;
$monitor-height: 130px;
$color_monitor: rgb(25, 25, 25);

$desk-width: 600px;
$desk-height: 30px;
$color_desk: rgb(11, 99, 154);
$color_engineer-body: darken($color_desk, 25%);

$name-top: 10px;
