$banner-offset: 10px;
$offset-multiplier: 5;
$banner-height: calc($banner-offset * $offset-multiplier);
$banner-color: rgb(211, 69, 69);
$pole-color: rgb(125, 56, 21);

.SectionTitle {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  filter: drop-shadow(15px 15px 20px #0000006a);
  .pole {
    position: absolute;
    width: 15px;
    height: 99vh;
    background-color: $pole-color;
    border-right: 5px solid darken($pole-color, 5%);
    top: 0;
    z-index: -1;
    filter: drop-shadow(15px 15px 20px #0000006a);
    margin-right: auto;
    margin-left: auto;
    margin-top: 3px;
  }
  .pole-left {
    left: 0;
    right: 275px;
  }
  .pole-right {
    left: 275px;
    right: 0;
  }
  .banner-center {
    background-color: $banner-color;
    padding: 5px 10px;
    height: $banner-height;
    border-radius: 5px 5px 5px 5px;
    color: white;
    display: flex;
    h2 {
      margin: 0;
      padding: 0;
    }
    z-index: 1;
  }
  .banner-left {
    width: 30px;
    background-color: darken($banner-color, 5%);
    height: $banner-height;
    margin-top: -6px;
    margin-right: -$banner-offset;
    border-right: $banner-offset solid darken($banner-color, 40%);
    border-bottom: $banner-offset solid transparent;
    border-top: $banner-offset solid transparent;
    border-radius: 0px 5px 5px 0px;
  }
  .banner-right {
    width: 30px;
    background-color: darken($banner-color, 5%);
    height: 50px;
    margin-top: -6px;
    margin-left: -$banner-offset;
    border-left: $banner-offset solid darken($banner-color, 40%);
    border-bottom: $banner-offset solid transparent;
    border-top: $banner-offset solid transparent;
    border-radius: 5px 0px 0px 0px;
  }
  .streamers-left {
    margin-right: -1px;
  }
  .streamers-right {
    margin-left: -1px;
  }
  .streamer-top-left {
    margin-top: -6px;
    width: 30px;
    height: calc($banner-height / 2);
    border-top: calc($banner-height / 2) solid darken($banner-color, 5%);
    border-left: 30px solid transparent;
  }
  .streamer-top-right {
    margin-top: -6px;
    width: 30px;
    height: calc($banner-height / 2);
    border-top: calc($banner-height / 2) solid darken($banner-color, 5%);
    border-right: 30px solid transparent;
  }
  .streamer-bottom-left {
    width: 30px;
    height: calc($banner-height / 2);
    border-bottom: calc($banner-height / 2) solid darken($banner-color, 5%);
    border-left: 30px solid transparent;
  }
  .streamer-bottom-right {
    width: 30px;
    height: calc($banner-height / 2);
    border-bottom: calc($banner-height / 2) solid darken($banner-color, 5%);
    border-right: 30px solid transparent;
  }
}
