@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;800&display=swap');
@import './variables';
$wallpaper-color: rgb(2, 41, 73);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Recursive', sans-serif;
}
.background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 200vh;
  z-index: -1;
  background-color: rgb(25, 51, 72);
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(
    to right,
    $wallpaper-color,
    $wallpaper-color 40px,
    lighten($wallpaper-color, 10%) 20px,
    lighten($wallpaper-color, 10%)
  );
  background-size: 80px 100%;
}
.background-overlay {
  position: fixed;
  top: 0;
  left: -20px;
  width: 110vw;
  height: 1px;
  z-index: -1;
  background-color: rgb(0, 0, 50);
  box-shadow: 0px 10px 50vh 40vh rgb(0, 0, 0);
}
.App {
  font-family: sans-serif;
  text-align: center;
}
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
.test-svg {
  position: fixed;
  top: 0px;
  left: 0px;
}

.engineer {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  bottom: 50px;
  z-index: 1;

  .my-face-container {
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: 91px;
    z-index: 9999;
    filter: drop-shadow(15px 15px 20px #0000006a);
    .my-face {
      height: calc($monitor-height * 1.25);
    }
    .my-face-marker {
      position: fixed;
      // border: 5px solid green;
      width: 0px;
      right: 0;
      left: -20px;
      bottom: 150px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .engineer-body {
    position: fixed;
    background-color: $color_engineer-body;
    border-left: 10px solid lighten($color_engineer-body, 7%);
    border-top: 5px solid lighten($color_engineer-body, 10%);
    width: 200px;
    height: 100px;
    bottom: 30px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    border-radius: 80px 80px 0px 0px;
    filter: drop-shadow(15px 15px 20px #0000006a);
  }
}
.desk {
  position: fixed;
  background-color: $color_desk;
  width: $desk-width;
  height: $desk-height;
  bottom: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 999;
  .desktop {
    position: fixed;
    bottom: calc($desk-height);
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: calc($desk-width + 20px);
    border-bottom: 5px solid darken($color_desk, 10%);
    border-top: 5px solid lighten($color_desk, 10%);
    border-left: 5px solid lighten($color_desk, 6%);
    border-right: 5px solid darken($color_desk, 6%);
    border-radius: 5px;
    height: 15px;
    background-color: $color_desk;
  }
}
.monitor-left,
.monitor-right {
  position: fixed;
  bottom: 80px;
  width: $monitor-width;
  height: $monitor-height;
  background-color: $color_monitor;
  border-bottom: 15px solid darken($color_monitor, 10%);
  border-right: 15px solid darken($color_monitor, 6%);
  border-left: 15px solid lighten($color_monitor, 6%);
  border-top: 15px solid lighten($color_monitor, 10%);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: visible;
  z-index: 1;
}
.monitor-left {
  left: 50%;
  margin-left: -260px;
}
.monitor-right {
  right: 50%;
  margin-right: -260px;
}
.monitor_circle-bracket {
  position: fixed;
  background-color: darken($color_monitor, 5%);
  border-left: 2px solid lighten($color_monitor, 10%);
  border-top: 2px solid lighten($color_monitor, 10%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.monitor_base {
  position: fixed;
  bottom: calc($desk-height - ($desk-height / 2));
  background-color: blue;
  border-radius: 50% 50% 0 0;
  width: 100px;
  height: 50px;
  background-color: $color_monitor;
  border-left: 5px solid lighten($color_monitor, 10%);
  border-top: 5px solid lighten($color_monitor, 10%);
}
.monitor_stand-column {
  position: fixed;
  background-color: $color_monitor;
  border-right: 15px solid darken($color_monitor, 6%);
  border-left: 15px solid lighten($color_monitor, 6%);
  border-top: 15px solid lighten($color_monitor, 10%);
  width: 25px;
  height: 90px;
  bottom: 59px;
  z-index: 99999;
  border-radius: 10px 10px 0 0;
}
