$monitor-width: 200px;
$monitor-height: 120px;
$engineer-body-color: rgb(113, 158, 198);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  background: linear-gradient(#e66465, #9198e5);
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.scroll {
  height: 500vh;
}
.engineer {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  bottom: 50px;
  .my-face-container {
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: 55px;
    z-index: 9999;
    .my-face {
      height: calc($monitor-height * 1.4);
    }
  }
  .engineer-body {
    position: fixed;
    background-color: $engineer-body-color;
    border-left: 10px solid lighten($engineer-body-color, 10%);
    border-top: 5px solid lighten($engineer-body-color, 10%);
    width: 170px;
    height: 70px;
    bottom: 20px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    border-radius: 50px 50px 0px 0px;
  }
}

.project-display-main {
  display: none; // shown via script
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  top: 10px;
  width: 90vw;
  max-width: 900px;
  aspect-ratio: 16/9;
  background-color: blue;
}
.monitor-left,
.monitor-right {
  position: fixed;
  bottom: 70px;
  width: $monitor-width;
  height: $monitor-height;
  background-color: rgb(25, 25, 25);
  border: 15px solid rgb(0, 0, 0);
  border-left: 15px solid rgb(57, 57, 57);
  border-top: 15px solid rgb(94, 94, 94);
  border-radius: 5px;

  overflow-y: visible;
}
.monitor-left {
  left: 50%;
  margin-left: -250px;
  display: flex;
  justify-content: center;
  align-items: center;
  .monitor-left_circle-bracket {
    position: fixed;
    background-color: blue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}
.monitor-right {
  right: 50%;
  margin-right: -250px;
}

.first {
  width: 80vw;
  height: 100vh;
  background-color: red;
}
.second {
  position: relative;
  width: 80vw;
  height: 400vh;
  background-color: green;
}
.inside {
  background-color: yellow;
  height: 100vh;
  width: 80vw;
  /* position: fixed;
  top: 0;
  left: 0; */
}
